@import "../../assets/VarMix/mixins.scss";
@import "../../assets/VarMix/variabels";

.allItemsTable {

    
    a {
        cursor: pointer;
        color: $black !important;
        &:hover {
            color: $black !important;
            text-decoration: underline !important;
        }
    }
    td {
        vertical-align: inherit;
    }
    .breadcrumb {
        background: $white;
        margin-bottom: 0;
    }
}