@mixin homePageBorders {
    border: 1px solid $grayBorder;
    border-radius: 5px;
}

@mixin backgroundProps {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin categoryFonts {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;

    @media only screen and (max-width: 1024px) {
        font-size: 15px;
        line-height: 22px;
        white-space: nowrap;
    }
}

@mixin headerFonts {
    font-size: 18px;
    letter-spacing: 1px;
}

@mixin brandFonts {
    font-size: 32px;
    letter-spacing: 2px;

    @media only screen and (max-width: 768px) {
        font-size: 25px;
        letter-spacing: 1px;
    }
}

@mixin infoText {
    font-size: 12px;
    letter-spacing: 1px;
}

@mixin categoryChangesTime {
    transition-duration: .5s;
}
