@import "../../assets/VarMix/variabels.scss";
@import "../../assets/VarMix/mixins.scss";

.App {
    min-height: 100vh;
}

.general-div {
    display: flex;
    justify-content: space-between;
}

.gen_div {
    height: auto;

    &::before {
        content: '';
        top: 0;
        left: 0;
        opacity: .5;
        z-index: 99;
        display: none;
        position: fixed;
        width: 100%;
        background: #6c757d;
        height: 100%;
    }

    h1 {
        padding: 40px 0 20px 0;
        font-size: 50px;
        letter-spacing: 2px;
    }
}

.hovred {
    .gen_div {
        &::before {
            display: block;
        }
    }
}

.slide-and-random-cards {
    width: 75%;
}

.general-slide {
    margin-bottom: 80px !important;

    // overflow: hidden;
}
