@import "../../assets/VarMix/variabels.scss";
@import "../../assets/VarMix/mixins.scss";

.App {
    min-height: 100vh;
}

.general-div {
    display: flex;
    justify-content: space-between;
}

.title-homePage {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 20px 20px;

    h2, h1 {
        font-size: 35px;
        letter-spacing: 2px;
    }

    h1 {
        text-align: right;
        margin-left: auto;
        padding-top: 16px;
        padding-right: 20px;
        letter-spacing: 0;
        font-size: 22px;
        color: #565656;
    }
}

.gen_div {
    height: auto;

    &::before {
        content: '';
        top: 0;
        left: 0;
        opacity: .5;
        z-index: 99;
        display: none;
        position: fixed;
        width: 100%;
        background: #6c757d;
        height: 100%;
    }
}

.hovred {
    .gen_div {
        &::before {
            display: block;
        }
    }
}

.slide-and-random-cards {
    width: 73%;
}

.general-slide {
    margin-bottom: 80px !important;

    // overflow: hidden;
}
