@media only screen and (max-width: 1200px) {
    .slide-pages {
        padding: 0 8px;
    }

    .admin-button-group {
        a {
            min-width: 250px;
        }
    }

    .card {
        max-width: 220px;
    }
}

@media only screen and (max-width: 1024px) {
    .slick-prev {
        left: 0px;
    }

    .slick-next {
        right: 0px;
    }

    .gen_div {
        margin: 0;
        width: 100%;
        max-width: 100%;
        padding: 0;

        h2 {
            display: none;
        }
    }

    .general-div {
        position: unset;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }

    .slide-pages {
        padding: 0 7px;
    }

    .navbar-nav a::before {
        display: none;
    }

    .categories {
        top: 100px;
        position: fixed;
        margin-top: 50px;
        overflow: hidden;
        min-width: 0;
        z-index: 99;
        left: 0;
        width: 0;
        height: 100vh;
        background: #ffffff;

        a {
            &::after {
                transform: rotate(90deg);
            }
        }
    }

    .open-category {
        position: relative;
        right: 0;

        a {
            padding-left: 40px;
        }
    }

    .slide-and-random-cards {
        margin: 0 auto;
        width: 100%;
    }

    .category-open-btn {
        display: flex;
    }

    .card {
        max-width: 217px;
    }
}

@media only screen and (max-width: 991px) {
    .slick-prev {
        left: 8px;
    }

    .card-info .item-right-div .card-prices {
        margin-left: 0;
        text-align: left;
    }

    .card-info {
        .item-gen-div {
            .item-info {
                max-width: 100%;

                img {
                    width: 100%;
                    min-height: 40vh;
                }
            }

            .item-right-div {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
            }
        }
    }

    .slick-next {
        right: 8px;
    }

    .categories {
        top: 104px;
    }

    .title-homePage {
        // padding: 30px 0 0 20px;
   
    }

    .general-div {
        position: unset;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }

    .slide-pages {
        padding: 0 7px;
    }

    .navbar-nav a::before {
        display: none;
    }

    .category-open-btn {
        display: flex;
    }

    .card {
        max-width: 217px;
    }
}

@media only screen and (max-width: 768px) {
    .categories {
        top: 88px;
    }

    .menu-btn-clicked .categories {
        width: 50vw;
    }

    .footer {
        padding-top: 20px;

        .navbar-nav {
            margin-top: 10px !important;
            flex-direction: column !important;
        }
    }

    .category-open-btn {
        top: 92px;
    }

    .card-info {
        .card-title {
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .menu-btn-clicked .categories {
        width: 100%;
    }

    .title-homePage {
        h1 {
            font-size: 15px;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 480px) {
    .slick-next,
    .slick-prev {
        // display: none !important;
        width: 27px;
    }

    .category-open-btn {
        top: 72px;
    }

    .slick-next {
        right: 2px;
    }

    .slick-prev {
        left: 2px;
    }

    .slide-and-random-cards {
        margin: 0 auto;
        width: 100%;
    }

    .slide-and-random-cards {
        padding-top: 0;
    }

    .modal-dialog {
        padding: 20vh 0 0 0;
    }

    .card-info {
        .card-prices {
            h4 {
                font-size: 1rem;
            }
        }

        .card-info-text {
            font-size: 13px;
        }
    }

    .card {
        max-width: 300px;
    }

    .form-inline {
        margin: 0 !important;
    }

    .nav-link {
        font-size: 14px !important;
    }

    .adress-items {
        text-align: left;
    }

    .prices-div {
        ul {
            padding: 0 10px;
        }
    }

    .card-body {
        padding: 1rem;
    }

    .card-info {
        .item-gen-div {
            flex-direction: column;

            .item-info {
                max-width: 100%;
            }
        }

        .card-title {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 380px) {
    .navbar-brand {
        margin-right: 0;
    }

    .slide-and-random-cards {
        h3 {
            padding-top: 45px;
            margin-bottom: 10px !important;
        }
    }

    .footer {
        padding-top: 10px;

        h1 {
            font-size: 22px;
        }

        .adress-items {
            font-size: 11px;

            img {
                width: 18px;
            }
        }
    }
}
