@import "../../assets/VarMix/variabels.scss";
@import "../../assets/VarMix/mixins.scss";


.footer {
    background: $headerAndFooterColor;
    width: 100%;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    .gen_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: $white;
    }
    
}
